.container {
    display: flex;
    flex-flow: column wrap;
    height: 600px;
    align-items: center;
    justify-content: center;
}

.contDesktop {
    margin: 95px 0 0 0;
}

.contMobile {
    margin: 0;
}

.subtitle {
    color: white;
    margin-top: 0;
}