.container {
    display: flex;
    flex-flow: column wrap;
    height: calc(100vh - 60px);
    align-items: center;
    justify-content: center;
}

.shortcutContainer {
    max-width: 400px;
    display: grid;
    grid-auto-flow: column;
    column-gap: 30px;
}

.shortcut {
    border: 1px solid white;
    padding: 5px 15px;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 20px;
}

.shortcutLink:any-link {
    color: white;
}

.subtitle {
    color: white;
    margin-top: 0;
}