.srElem {
    box-shadow: 0 0 30px white;
    position: absolute;
    transition: transform 0.6s ease-in-out, filter 0.6s, box-shadow 0.3s;
}

.srElem h2, .srElem h3 {
    font-weight: 500;
    text-align: start;
    padding-left: 50px;
}

.srElem h2 {
    font-size: 36px;
}

.srElem h3 {
    font-size: 24px;
}

.srElemDesktop {
    width: 600px;
    height: 500px;
}

.srElemMob {
    width: 250px;
    height: 300px;
}

.srElemMid {
    cursor: default;
    z-index: 1;
}

.srElemMidDtop {
    transform: translateX(calc(50vw - 300px));
}

.srElemMidMob {
    transform: translateX(calc(50vw - 125px));
}

.srElemLeft, .srElemRight, .srElemOffLeft, .srElemOffRight {
    filter: brightness(150%) contrast(40%);
    cursor: pointer;
}

.srElemLeftDtop {
    transform: translateX(calc(20vw - 300px)) scale(0.75);
}

.srElemLeftMob {
    transform: translateX(calc(20vw - 125px)) scale(0.75);
}

.srElemRightDtop {
    transform: translateX(calc(80vw - 300px)) scale(0.75);
}

.srElemRightDtop:hover, .srElemLeftDtop:hover {
    box-shadow: 0 0 20px blue;
}

.srElemRightMob {
    transform: translateX(calc(80vw - 125px)) scale(0.75);
}

.srElemOffLeft {
    transform: translateX(-530px) scale(0.75);
}

.srElemOffRight {
    transform: translateX(110vw) scale(0.75);
}

.srElemHidden {
    display: none;
}