.srElem {
    /*Temporary placeholder graphics*/
    background-color: grey;
    border: 1px solid black;

    position: absolute;
    transition: transform 0.6s ease-in-out, filter 0.6s;
}

.srElemDesktop {
    width: 600px;
    height: 500px;
    font-size: 300px;
}

.srElemMob {
    width: 250px;
    height: 300px;
    font-size: 200px;
}

.srElemMid {
    cursor: default;
    z-index: 1;
}

.srElemMidDtop {
    transform: translateX(calc(50vw - 300px));
}

.srElemMidMob {
    transform: translateX(calc(50vw - 125px));
}

.srElemLeft, .srElemRight, .srElemOffLeft, .srElemOffRight {
    filter: brightness(150%) contrast(40%);
    cursor: pointer;
}

.srElemLeftDtop {
    transform: translateX(calc(20vw - 300px)) scale(0.75);
}

.srElemLeftMob {
    transform: translateX(calc(20vw - 125px)) scale(0.75);
}

.srElemRightDtop {
    transform: translateX(calc(80vw - 300px)) scale(0.75);
}

.srElemRightMob {
    transform: translateX(calc(80vw - 125px)) scale(0.75);
}

.srElemOffLeft {
    transform: translateX(-530px) scale(0.75);
}

.srElemOffRight {
    transform: translateX(110vw) scale(0.75);
}

.srElemHidden {
    display: none;
}