.srElem {
    width: 600px;
    height: 500px;
    font-size: 300px;
    background-color: grey;
    border: 1px solid black;
    position: absolute;
    transition: transform 0.6s ease-in-out, filter 0.6s;
}

.srElemMid {
    transform: translateX(calc(50vw - 300px));
    cursor: default;
    z-index: 1;
}

.srElemLeft, .srElemRight, .srElemOffLeft, .srElemOffRight {
    filter: brightness(150%) contrast(40%);
    cursor: pointer;
}

.srElemLeft {
    transform: translateX(calc(20vw - 300px)) scale(0.75);
}

.srElemRight {
    transform: translateX(calc(80vw - 300px)) scale(0.75);
}

.srElemOffLeft {
    transform: translateX(-530px) scale(0.75);
}

.srElemOffRight {
    transform: translateX(110vw) scale(0.75);
}

.srElemHidden {
    display: none;
}