.applyInfo {
    position: relative;
    padding-top: 50px;
    text-align: center;
}

.aiAnchor {
    position: absolute;
    top: -60px;
}

.aiUnderlined {
    width: 60%;
    max-width: 600px;
    margin: 0 auto 100px auto;
    border-bottom: 1px solid grey;
}

.aiUnderlined h2 {
    margin: 0 0 10px 0;
    font-size: 32px;
    font-weight: 500;
}

.applyInfo h1 {
    font-size: 48px;
}

.aiCurve {
    margin-bottom: -10px;
}

.aiContentWrapper {
    background-color: lightgray;
    padding-bottom: 100px;
}

.aiContent {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    column-gap: 20px;
    justify-content: center;
    justify-items: center;
    margin: 0 auto;
    width: 75%;
    max-width: 1000px;
}

.aiTextBox {
    text-align: start;
    max-width: 450px;
}

.aiTextBox p {
    padding-bottom: 30px;
    font-size: 18px;
}

.aiBoldText {
    color: #333;
    font-weight: 700;
}

.aiNormalText {
    color: #222;
    font-weight: 500;
}

.aiToApply { /* Needs more styling */
    box-sizing: border-box;
    margin-top: 30px;
    padding: 20px 10px;
    background-color: #4d64c1;
    color: white;
    border: 1px solid black;
    border-radius: 30px;
    font-size: 24px;
    font-weight: 600;
    height: 200px;
    max-width: 350px;
    align-self: center;
}

.aiToApply:any-link {
    text-decoration: none;
}

.aiContent h2 {
    font-size: 36px;
}

@media only screen and (max-width: 600px) {
    .aiContentWrapper {
        border-radius: 0;
    }
    .aiTextBox {
        max-width: 350px;
    }
    .aiTextBox h2 {
        text-align: center;
    }
}