.applyInfo {
    margin-top: 100px;
    text-align: center;
}

.aiUnderlined {
    width: 60%;
    max-width: 600px;
    margin: 0 auto 100px auto;
    border-bottom: 1px solid grey;
}

.aiUnderlined h2 {
    margin: 0 0 10px 0;
    font-size: 32px;
    font-weight: 500;
}

.applyInfo h1 {
    font-size: 48px;
}

.aiContentWrapper {
    background-color: lightgray;
    padding-bottom: 100px;
    border-radius: 50% / 200px 200px 0 0;
}

.aiContent {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    column-gap: 20px;
    justify-content: center;
    justify-items: center;
    margin: 0 auto;
    padding-top: 150px;
    width: 60%;
    max-width: 800px;
}

.aiText {
    max-width: 400px;
}

.aiToApply {
    margin-top: 30px;
    padding: 0 10px;
    border: 1px solid black;
    border-radius: 30px;
    max-width: 250px;
    max-height: 150px;
    align-self: center;
}

.aiContent h2 {
    font-size: 36px;
}

@media only screen and (max-width: 600px) {
    .aiContentWrapper {
        border-radius: 0;
    }
}