.blogPreview {
    display: grid;
    grid-template-columns: minmax(180px, 1fr) minmax(0, 20px) 180px;
    height: 250px;
    max-width: 1000px;
    margin: 0 auto;
}

.blogPreviewCardContainer {
    display: grid;
    overflow: hidden;
    grid-template-columns: repeat(auto-fill, minmax(175px, 1fr));
    column-gap: 10px;
    justify-items: center;
    
}

.blogPreviewCard {
    box-sizing: border-box;
    width: 175px;
    height: 250px;
    padding: 5px;
    background-color: #ccc;
    text-align: center;
}

.blogLinkCard {
    box-sizing: border-box;
    grid-column: 3;
    width: 175px;
    height: 250px;
    padding: 30px 0 0 0;
    color: white;
    background-color: black;
    text-align: center;
}