.blogPreviewWrapper {
    position: relative;
    margin-bottom: 30px;
    padding: 40px 0;
}

.blogPreviewAnchor {
    position: absolute;
    top: -100px;
}

.blogPreviewTitle {
    text-align: center;
    font-size: 48px;
    font-weight: 200;
}

.blogPreview {
    display: grid;
    grid-template-columns: repeat(5, 180px);
    justify-content: center;
    justify-items: center;
    gap: 10px;
    max-width: 1000px;
    margin: 0 auto;
}

.blogPreview a {
    text-decoration: none;
}

.blogPreviewCard {
    box-sizing: border-box;
    display: block;
    width: 175px;
    height: 250px;
    text-align: center;
}

.bpcPost {
    background-color: #ccc;
    position: relative;
    transition: opacity 1s;
}

.bpcPost:hover {
    opacity: 0.7;
}

.bpcPost h4 {
    margin-bottom: 0;
    margin-top: 10px;
    font-size: 14px;
}

.bpcPost h3 {
    margin-top: 7px;
    font-size: 18px;
}

.bpcPost p {
    padding: 0 3px;
    margin: 5px;
    border-radius: 10px;
    position: absolute;
    bottom: 0;
    font-size: 15px;
}

.bpcTips {
    padding: 30px;
    color: #222;
    background-color: #9FC9EB;
}

.bpcLink {
    padding-top: 30px;
    color: white;
    background-color: black;
    transition: background-color 1s;
}

.bpcLink:hover {
    background-color: #4e4e4e;
}

@media only screen and (min-width: 601px) and (max-width: 1000px){
    .blogPreview {
        grid-template-columns: repeat(3, 180px)
    }
    .bpcLink {
        width: 365px;
        grid-column: 2 / 4;
    }
}

@media only screen and (max-width: 600px){
    .blogPreview {
        grid-template-columns: repeat(2, 180px);
        column-gap: 0px;
        row-gap: 5px;
    }
    .bpcLink {
        width: 355px;
        height: 200px;
        padding-top: 20px;
        grid-row: 3;
        grid-column: 1 / 3;
    }

    .blogPreviewWrapper {
        padding: 0;
    }

    .blogPreviewTitle {
        font-size: 24px;
        font-weight: 500;
        padding: 15px;
    }
}