.introBlock {
    background-color: white;
    margin-top: 100px;
}

.introInner {
    max-width: 900px;
    margin: 0 auto;
    text-align: center;
    border-bottom: 1px solid lightgray;
}

.introInner h2 {
    font-size: 48px;
    font-weight: lighter;
}

.introInner p {
    font-size: 18px;
    line-height: 1.5;
}

.introInner h4 {
    margin-top: 50px;
    font-size: 20px;
    font-weight: 500;
}

.introInner h3 {
    font-size: 24px;
    font-weight: 600;
}

@media only screen and (max-width: 600px){
    .introInner {
        padding: 0 10px;
    }
    .introInner h2 {
        font-size: 24px;
        font-weight: 500;
    }
    .introInner p {
        font-size: 16px;
    }
    .introInner h4 {
        font-size: 16px;
        font-weight: 600;
    }
    .introInner h3 {
        font-size: 20px;
    }
}