.landing {
    height: calc(100vh + 70px);
    position: relative;
    text-align: center;
    border-bottom: -200px solid white;
    background-image: url("../../imgs/landingbg.png");
    background-size: 100% calc(100% - 100px);
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.landingContent {
    padding: 100px 0 50px 0;
    margin-bottom: 250px;
    width: 100%;
    max-height: 370px;
    position: sticky;
    top: 0;
    background-color: #f5f5ff;
}

.landingLogo {
    width: 550px;
}

.scrollIndicator {
    position: sticky;
    display: block;
    margin: 0 auto;
    top: calc(100vh - 200px);
    color: goldenrod;
    text-align: center;
}

.scrollText {
    margin-top: 10px;
    font-size: 20px;
    transition: opacity 0.4s;
}

.scrollTextVisible {
    opacity: 1;
}

.scrollTextHidden {
    opacity: 0;
}

@media only screen and (max-width: 600px){
    .landingContent {
        padding: 100px 0 75px 0;
    }
    .landingLogo {
        width: 350px;
    }
    .landingContent h1 {
        font-size: 18px;
    }
    .landingContent h4 {
        margin-top: 10px;
        font-size: 14px;
        font-weight: 600;
    }
}