.landing {
    height: 105vh;
    background-image: url("../../imgs/landingbg.png");
    background-size: 100% 87%;
    background-repeat: no-repeat;
    text-align: center;
}

.landingContent {
    padding: 100px 0;
    margin-bottom: 150px;
    width: 100%;
    position: sticky;
    top: 0;
    background-color: rgba(255,255,255,0.9);
    box-shadow: 0 0 10px rgba(255,255,255,0.7);
    z-index: 1;
}

.scrollIndicator {
    width: 200px;
    margin-left: calc(50vw - 100px);
    z-index: 2;
    color: goldenrod;
    text-align: center;
    /*transition: top 1.5s;*/
}

.scrollIndicatorFixed {
    position: fixed;
    top: 88vh;
}

.scrollIndicatorStuck {
    top: 93vh;
    position: absolute;
}

.scrollText {
    margin-top: 10px;
    font-size: 20px;
    transition: opacity 0.4s;
}

.scrollTextVisible {
    opacity: 1;
}

.scrollTextHidden {
    opacity: 0;
}