.landing {
    height: calc(100vh + 70px);
    background-image: url("../../imgs/landingbg.png");
    background-size: 100% calc(100vh - 70px);
    background-repeat: no-repeat;
    text-align: center;
}

.landingContent {
    padding: 100px 0;
    width: 100%;
    max-height: 370px;
    margin-bottom: 125px;
    position: sticky;
    top: 0;
    background-color: rgba(255,255,255,0.9);
    box-shadow: 0 0 10px rgba(255,255,255,0.7);
}

.landingContent h3 {
    color: #444;
}

.scrollIndicator {
    position: sticky;
    top: calc(100vh - 200px);
    width: 200px;
    margin-left: calc(50vw - 100px);
    color: goldenrod;
    text-align: center;
}

.scrollText {
    margin-top: 10px;
    font-size: 20px;
    transition: opacity 0.4s;
}

.scrollTextVisible {
    opacity: 1;
}

.scrollTextHidden {
    opacity: 0;
}

@media only screen and (max-width: 600px){
    .landingContent {
        padding: 50px 0;
    }
    .landingContent h3 {
        font-size: 16px;
        font-weight: 600;
        margin-bottom: 30px;
    }
    .landingContent h1 {
        font-size: 18px;
    }
    .landingContent h4 {
        margin-top: 10px;
        font-size: 14px;
        font-weight: 600;
    }
}