.moreInfoBlock {
    background-color: white;
}

.moreInfoInner {
    max-width: 900px;
    margin: 100px auto 100px auto;
    text-align: center;
}

.moreInfoInner h2 {
    font-size: 48px;
    font-weight: lighter;
}

.moreInfoInner p {
    font-size: 18px;
    line-height: 1.5;
}