.moreInfoBlock {
    position: relative;
    background-color: white;
    padding: 100px 0 0 0;
    margin-bottom: 50px;
}

.moreInfoAnchor {
    position: absolute;
    top: -60px;
}

.moreInfoInner {
    max-width: 900px;
    margin: 0 auto 50px auto;
    text-align: center;
    padding: 0 10px;
}

.moreInfoInner h2 {
    margin-top: 20px;
    font-size: 48px;
    font-weight: lighter;
}

.moreInfoInner p {
    font-size: 18px;
    line-height: 1.5;
}

@media only screen and (max-width: 600px){
    .moreInfoInner h2 {
        font-size: 32px;
    }
    .moreInfoInner p {
        font-size: 16px;
    }
}