.moreInfoBlock {
    background-color: white;
}

.moreInfoInner {
    max-width: 900px;
    margin: 0 auto;
    text-align: center;
}

.moreInfoInner h2 {
    font-size: 48px;
    font-weight: lighter;
}

.moreInfoInner p {
    font-size: 18px;
    line-height: 1.5;
}

.moreInfoInner h3 {
    margin-top: 100px;
    font-size: 24px;
    font-weight: 600;
}

.blogPreview {
    display: grid;
    grid-template-columns: minmax(180px, 1fr) minmax(0, 20px) 180px;
    height: 250px;
    max-width: 1000px;
    margin: 0 auto;
}

.blogPreviewCardContainer {
    display: grid;
    overflow: hidden;
    grid-template-columns: repeat(auto-fill, minmax(175px, 1fr));
    column-gap: 10px;
    justify-items: center;
    
}

.blogPreviewCard {
    width: 175px;
    height: 250px;
    background-color: grey;
}

.blogLinkCard {
    grid-column: 3;
    width: 175px;
    height: 250px;
    background-color: black;
}