.teaser {
    position: relative;
    text-align: center;
    margin: 150px 0;
    background-color: white;
}

.teaser .vLine {
    position: absolute;
    top: 100px;
    left: 50%;
    width: 1px;
    height: 0;
    transition: height 4s;
    background-color: black;
}

.teaser .vLineFull {
    height: 350px;
}

.teaser h2, .teaser h3, .teaser h1 {
    margin: 50px 0;
    background-color: white;
    padding: 10px;
    z-index: 2;
}

.teaser h2, .teaser h3, .teaser {
    animation-duration: 0.5s;
    animation-fill-mode: both;
}

.teaser h1 {
    font-size: 40px;
    font-weight: 600;
    padding-bottom: 30px;
}

.teaser h3 {
    font-size: 24px;
    font-weight: 600;
}

.teaser h2 {
    font-size: 36px;
    font-weight: 400;
}

.ptItem1 {
    visibility: hidden;
}

.ptItem2 {
    animation-delay: 0.8s;
    visibility: hidden;
}

.ptItem3 {
    animation-delay: 1.6s;
    visibility: hidden;
}

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

.ptFadeIn {
    animation-name: fadeIn;
    visibility: visible;
}

.teaser .fa-chevron-down {
    color: grey;
    font-size: 60px;
}