.teaser {
    position: relative;
    text-align: center;
    background-color: white;
}

.teaser1 {
    margin: 50px 0;
}

.teaser1 .vLine1 {
    position: absolute;
    top: 90px;
    left: 50%;
    width: 1px;
    height: 0;
    transition: height 4s;
    background-color: black;
}

.teaser1 .vLine1Full {
    height: 225px;
}

.teaser2 .vLine2 {
    position: absolute;
    top: -90px;
    left: 50%;
    width: 1px;
    height: 0;
    transition: height 1.25s;
    background-color: black;
}

.teaser2 .vLine2Full {
    height: 90px;
}

.teaser h2, .teaser h3, .teaser h1 {
    animation-duration: 0.5s;
    animation-fill-mode: both;
    margin: 50px 0;
    background-color: white;
    padding: 10px;
    z-index: 2;
}

.teaser h3 {
    font-size: 24px;
    font-weight: 600;
    margin: 50px 0 0 0;
}

.teaser h1 {
    margin: 0;
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 30px;
}

.teaser h2 {
    font-size: 36px;
    font-weight: 400;
}

.teaser2 h2 {
    margin: 100px 0 0 0;
}

.ptItem1 {
    visibility: hidden;
}

.ptItem2 {
    animation-delay: 0.8s;
    visibility: hidden;
}

.ptItem3 {
    animation-delay: 0.8s;
    visibility: hidden;
}

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

.ptFadeIn {
    animation-name: fadeIn;
    visibility: visible;
}

.teaser .fa-chevron-down {
    color: grey;
    font-size: 60px;
}

@media only screen and (max-width: 900px){
    .teaser1 .vLine1 {
        top: 60px;
    }
    .teaser h1 {
        font-size: 28px;
        margin-bottom: 10px;
    }
    .teaser h3 {
        font-size: 20px;
    }
}