.container {
    display: flex;
    flex-flow: column wrap;
    margin: 95px 0 20px 0;
    height: 600px;
    align-items: center;
    justify-content: center;
}

.subtitle {
    color: white;
    margin-top: 0;
}