footer {
  position: relative;
  color: #eee;
}

.ftWave {
  position: absolute;
  top: -6vw;
  width: 100%;
  height: 6vw;
  margin-bottom: -5px;
  z-index: 1;
  background-image: url("../imgs/wave.svg");
  background-size: calc(100% + 10px);
  background-position-x: -5px;
  background-position-y: bottom;
  background-repeat: no-repeat;
  /*background-color: #9FC9EB;*/
}

.ftContentWrapper {
  position: relative;
  z-index: 2;
  background-color: #0072C6;
}

.ftSitemap {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto 40px auto;
  padding: 50px 0 40px 0;
  display: grid;
  grid-auto-flow: column;
  justify-items: center;
  justify-content: center;
  column-gap: 200px;
  text-align: center;
  border-bottom: 1px solid #aaa;
}

.ftSitemap h4 {
  font-size: 24px;
  margin: 15px 0;
}

.ftSitemapLink {
  display: block;
  font-size: 16px;
  font-weight: 600;
  margin: 10px 0;
  color: #ddd;
  text-decoration: none;
}

.ftSitemapLink:hover {
  color: black;
}

.ftContacts {
  max-width: 1000px;
  margin: 0 auto;
  padding: 30px 0 0 0;
  display: grid;
  grid-template-columns: repeat(3, minmax(180px, 1fr));
  justify-items: center;
  align-items: center;
}

.ftPerson {
  text-align: center;
}

.ftPerson h4 {
  font-size: 20px;
  font-weight: 600;
  margin: 5px 0 10px 0;
}

.ftPerson h5 {
  font-size: 16px;
  font-weight: 600;
  margin: 5px 0;
}

.ftLocation {
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.75;
  max-width: 180px;
}

.ftMoreContacts {
  color: #ddd;
}

.ftMoreContacts h2 {
  margin: 0;
  font-size: 20px;
}

.ftLogos {
  display: grid;
  max-width: 700px;
  padding: 0 40px 100px 40px;
  margin: 100px auto 0 auto;
  grid-auto-flow: column;
  align-items: center;
}

.ftDTHLogo {
  display: block;
  width: 250px;
  justify-self: left;
}

.ftHelLogo {
  display: block;
  width: 250px;
  justify-self: right;
}

@media only screen and (max-width: 600px){
  .ftWave {
    background-size: 200%;
    height: 12vw;
  }
  .ftSitemap {
    grid-auto-flow: row;
  }
  .ftPerson:first-of-type {
    grid-row: 1;
    margin-bottom: 30px;
  }
  .ftPerson:last-of-type {
    grid-row: 2;
  }
  .ftContacts {
    grid-template-columns: 1fr;
  }
  .ftLocation {
    margin-top: 50px;
    grid-row: 3;
  }
  .ftLogos {
    grid-auto-flow: row;
    margin: 50px auto 0 auto;
  }
  .ftDTHLogo, .ftHelLogo {
    justify-self: center;
    margin: 50px 0;
  }
}