footer {
  background-color: #08415c;
  min-height: 300px;
  padding: 30px 0;
  color: white;
}

.ftSitemap {
  max-width: 1000px;
  margin: 0 auto 60px auto;
  display: grid;
  grid-auto-flow: column;
  justify-items: center;
  text-align: center;
}

.ftSitemap h4 {
  font-size: 24px;
  margin: 15px 0;
}

.ftSitemapLink {
  display: block;
  font-size: 16px;
  font-weight: 600;
  margin: 10px 0;
}

.ftSitemapLink:any-link {
  color: #ccc;
  text-decoration: none;
}

.ftSitemapLink:hover {
  color: black;
}

.ftContent {
  max-width: 1000px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, minmax(180px, 1fr));
  justify-items: center;
  align-items: center;
}

.ftPerson {
  text-align: center;
}

.ftPerson h4 {
  font-size: 20px;
  font-weight: 600;
  margin: 5px 0 10px 0;
}

.ftPerson h5 {
  font-size: 16px;
  font-weight: 600;
  margin: 5px 0;
}

.ftLocation {
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.75;
}

.ftLocation h2 {
  margin: 0;
  font-size: 24px;
}

@media only screen and (max-width: 600px){
  .ftSitemap {
    grid-auto-flow: row;
  }
  .ftPerson {
    word-wrap: break-word;
  }
  .ftContent {
    grid-template-columns: repeat(2, minmax(180px, 1fr));
  }
  .ftLocation {
    margin-top: 50px;
    grid-row: 2;
    grid-column: 1 / 3;
  }
}