.location {
  background-color: lightgray;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  padding: 30px 30px 0 0;
}

.locationInfo {
  display: flex;
  flex-flow: column;
  align-items: center;
  text-align: center;
  padding: 30px;
}

.locationBlock h2 {
  margin: 0 0 10px 0;
}

.locationBlock h3 {
  margin: 0 0 10px 0;
}

.locationBlock p {
  margin: 0 0 10px 0;
}

.map {
  width: 100%;
  padding-left: 5px;
}