.location {
  background-color: white;
  width: 85%;
  max-width: 1000px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  padding-bottom: 10px;
}

.locationInfo {
  display: flex;
  flex-flow: column;
  align-items: center;
  text-align: center;
  padding: 30px;
}

.locationAddress {
  margin: 10px 0;
}

.locationAddressTitle {
  font-size: 20px;
  font-weight: 600;
  border-right: 1px solid black;
  padding-right: 5px;
  margin-right: 10px;
}

.locationDirections h3 {
  margin: 10px 0;
  padding: 0;
}

.locationText {
  margin: 0 0 20px 0;
  font-size: 18px;
  font-weight: 500;
}

.map {
  width: 100%;
  margin: 20px 0;
}

@media only screen and (max-width: 600px){
  .map{
    height: 300px;
    margin: 0;
  }
}