.dropMenuHeader:hover {
    background-color: rgb(117, 142, 219);
}

.dropMenuTitle {
    color: #eef;
    text-align: center;
}

.dropMenuContainer {
    background-color: rgb(117, 142, 219);
    position: absolute;
    height: 100px;
}