.sidebarWrapper {
    position: fixed;
    background-color: #040;
    width: 300px;
    height: 100%;
    transition: left 0.5s ease;
}

.sidebarOpen {
    left: 0px;
}

.sidebarClosed {
    left: -300px;
}

.togglebutton {
    position: absolute;
    width: 60px;
    height: 60px;
    top: 20px;
    outline: none;
    transition: filter 0.3s, box-shadow 0.3s;
    cursor: pointer;
}

.buttonOpen {
    background-color: transparent;
    border: none;
    left: 240px;
}

.buttonClosed {
    background-color: white;
    border: 3px solid #040;
    border-radius: 50%;
    box-shadow: 0 0 5px #040;
    padding-top: 5px;
    left: 310px;
}

.sidebar {
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    color: white;
}