.topNavBar {
    background-color: #55e;
    position: fixed;
    width: 100%;
}

.navElementContainer {
    margin: 20px 20px 0px 20px;
    display: grid;
    grid-auto-flow: column;
    align-content: center;
    justify-items: center;
}