.App {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.contentWrapper {
    position: fixed;
    overflow: scroll;
    height: 100%;
    width: 100%;
    z-index: -1;
}

.appMobile {
    margin-top: 0;
}

.appDesktop {
    margin-top: 65px;
}