.infoBlock {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 450px;
}

.infoSubBlock {
    box-sizing: border-box;
    width: 450px;
    height: 450px;
}

.ibText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 10px;
}

.ibText h2 {
    margin: 0 0 20px 0;
    text-align: center;
    font-size: 38px;
    font-weight: 600;
    letter-spacing: 1px;
}

.ibText p {
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    padding: 30px;
    margin: 0;
}

.ibImg {
    overflow: hidden;
}

.ibImg img {
    height: 100%;
}

@media only screen and (min-width: 601px) and (max-width: 950px){
    .infoBlock {
        width: 90vw;
        height: 45vw;
        min-height: 45vw;
    }
    .infoSubBlock {
        height: auto;
        min-height: 45vw;
        width: 45vw;
    }
    .ibText h2 {
        font-size: 28px;
    }
    .ibText p {
        padding: 0 10px;
        font-size: 16px;
    }
}

@media only screen and (max-width: 600px){
    .infoBlock {
        grid-template-columns: 1fr;
        height: auto;
        min-height: 360px;
        width: 360px;
    }
    .infoSubBlock {
        height: auto;
        min-height: 360px;
        width: 360px;
    }
    .ibText h2 {
        font-size: 30px;
    }
    .ibText p {
        padding: 0 10px;
    }
    .ibImg {
        height: 360px;
    }
    .ibImg img {
        height: 360px;
    }
}