.sidebarTopBarWrapper {
    position: fixed;
    background-color: white;
    width: 100%;
    height: 60px;
    z-index: 100;
}

.sidebarTopBar {
    width: calc(100% - 40px);
    height: 60px;
    margin: 0 auto;
    background-color: white;
    border-bottom: 1px solid lightgray;
}

.sidebarOpener {
    display: inline-block;
    margin-left: 5px;
    padding: 15px;
    cursor: pointer;
    color: #666;
}

.sidebarTopBarLogo {
    display: inline-block;
    background-color: black;
    width: 48px;
    position: absolute;
    top: 5px;
    right: 30px;
}

.sidebarBackground {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(80, 80, 80, 0.7);
    display: none;
}

.sidebarBgVisible {
    display: block;
    z-index: 99;
}

.sidebar {
    position: fixed;
    background-color: white;
    width: 250px;
    height: 100%;
    transition: left 0.3s ease;
    z-index: 101;
}

.sidebarOpen {
    left: 0px;
}

.sidebarClosed {
    left: -250px;
}

.sidebarHeader {
    display: flex;
    height: 60px;
}

.sidebarLangSwitch {
    font-size: 16px;
    font-weight: 600;
    margin: 10px 0 10px 20px;
    padding: 10px;
    cursor: pointer;
    background-color: #555;
    color: white;
    border-radius: 20px;
}

.sidebarLangSwitch h4 {
    margin: 0;
    padding: 0;
}

.sidebarCloser {
    position: absolute;
    padding: 15px;
    margin-left: 180px;
    cursor: pointer;
}

.sidebarContentWrapper {
    overflow-y: auto;
    height: 100%;
}

.sidebarContent {
    margin: 50px 0 100px 20px;
}

.sidebarLink:any-link {
    text-decoration: none;
}

.sidebarMainLink {
    color: #333;
}

.sidebarSubLinkContainer {
    margin-left: 20px;
}

.sidebarSubLink {
    color: #666;
    margin: 10px 15px 0 0;
    padding: 10px;
    border-left: 10px solid #aaa;
    border-bottom: 1px solid #aaa;
}