.tnbElem {
    width: 120px;
    height: 30px;
    margin-bottom: 10px;
    font-size: 18px;
    text-align: center;
    padding-top: 5px;
    cursor: pointer;
}

.tnbElem a:any-link {
    text-decoration: none;
    color: black;
}

.tnbElemOpen {
    background-color: #444;
    color: white;
    border-radius: 30px;
}

.tnbElemOpen a:any-link {
    color:white;
}