.topNavBar {
    background-color: white;
    position: fixed;
    height: 60px;
    width: 100%;
    z-index: 100;
    border-bottom: 1px solid white;
}

.navElementWrapper {
    display: flex;
    align-items: center;
    height: 60px;
    width: 95%;
    margin: 0 auto;
    border-bottom: 1px solid lightgray;
}

.navLogo {
    height: 55px;
}

.navElementContainer {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 0 120px 0 20px;
    display: grid;
    grid-auto-flow: column;
    align-content: center;
    justify-items: center;
}

.langSelector {
    min-width: 80px;
    cursor: pointer;
    color: rgb(131, 131, 131);
    font-size: 0.9rem;
}

.langSelector:hover {
    text-decoration: underline;
}

@media only screen and (max-width: 900px){
    .navElementContainer {
        padding: 0 20px;
    }
}