.topNavBar {
    background-color: white;
    position: fixed;
    width: 100%;
}

.topNavBar img {
    position: fixed;
    left: 2%;
    background-color: black;
}

.navElementWrapper {
    max-width: 90%;
    margin: 0 auto;
    border-bottom: 1px solid lightgray;
}

.navElementContainer {
    width: 75%;
    max-width: 800px;
    margin: 20px auto 0 auto;
    display: grid;
    grid-auto-flow: column;
    align-content: center;
    justify-items: center;
}