.topNavBar {
    background-color: white;
    position: fixed;
    width: 100%;
}

.topNavBar img {
    position: fixed;
    left: 40px;
    background-color: black;
}

.navElementContainer {
    max-width: 800px;
    margin: 20px auto 0 auto;
    display: grid;
    grid-auto-flow: column;
    align-content: center;
    justify-items: center;
    border-bottom: 1px solid lightgray;
}