.location {
  position: relative;
  background-color: white;
  width: 85%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 50px 0 10px 0;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.locationAnchor {
  position: absolute;
  top: -60px;
}

.locationInfo {
  align-items: center;
}

.location h1 {
  font-size: 32px;
  width: 300px;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 5px;
  border-bottom: 1px solid lightgrey;
}

.locationAddressContainer {
  margin: 0 0 50px 0;
  text-align: center;
}

.locationAddress {
  margin: 20px 0;
}

.locationAddressTitle {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 5px;
}

.locationDirections {
  margin-bottom: 30px;
}

.locationDirectionsTitle {
  font-size: 26px;
  margin: 0 0 30px 0;
  text-align: center;
}

.locationDirIntro {
  font-size: 20px;
  max-width: 800px;
  margin: 0 auto 50px auto;
}

.locationMapsContainer {
  display: grid;
  justify-content: center;
  justify-items: center;
  gap: 50px 20px;
  grid-template-columns: repeat(auto-fill, 400px);
}

.locationDirectionsGraphic {
  position: relative;
  background-color: lightgrey;
  width: 350px;
  height: 350px;
}

.locationDirectionsGraphic img {
  width: 350px;
}

.locationDirGrZoomOverlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: darkgray;
  color: lightgrey;
  opacity: 0.7;
  cursor: pointer;
  display: none;
  text-align: center;
}

.locationDirectionsGraphic:hover .locationDirGrZoomOverlay {
  display: block;
}

.locationDirGrZoomOverlay i {
  margin-top: 100px;
}

.locationMapWrapper {
  width: 350px;
  height: 350px;
}

.locationMap {
  filter: saturate(50%);
  height: 350px;
  width: 100%;
}

.locationBigMapLink {
  display: block;
  margin-top: 10px;
  text-align: center;
  font-size: 20px;
  color: #08415c;
}

@media only screen and (max-width: 600px){
  .locationMap{
    margin: 0;
  }
  .locationDirSub h3 {
    font-size: 18px;
  }
}

@media only screen and (max-width: 1000px){
  .locationDirections {
    grid-template-columns: 1fr;
  }
  .locationDirSub {
    width: 100%;
    max-width: 600px;
  }
  .locationDirSub p {
    font-size: 16px;
    font-weight: 400;
  }

  .locationDirIntro p {
    font-size: 16px;
  }
}