.peopleTitle {
    text-align: center;
    width: 300px;
    margin: 0 auto;
    font-size: 36px;
    padding-bottom: 5px;
    border-bottom: 1px solid lightgrey;
}

.peopleGrid {
    max-width: 1000px;
    margin: 0 auto;
    background-color: white;
    padding: 20px;
}