.person {
    display: grid;
    grid-template-columns: repeat(auto-fill, 300px);
    column-gap: 20px;
    justify-items: center;
    justify-content: center;
    border-bottom: 1px solid grey;
    margin: 10px 0;
    padding: 50px 0;
}

.person:last-of-type {
    border-bottom: none;
}

.personText {
    text-align: start;
    min-width: 250px;
    margin: 40px 0 0 40px;
    background-color: rgba(255, 255, 255, 0.5);
}

.personText i {
    margin-right: 5px;
}

.personText .fa-mobile-alt {
    margin-right: 12px;
}

.personText h3 {
    font-size: 28px;
    margin: 0 0 20px 0;
}

.personText h4 {
    font-size: 18px;
    margin: 20px 0;
}

.personEmail {
    text-decoration: none;
    color: #08415c;
}

.personEmail:hover {
    color: #4d64c1;
}

.personImg {
    width: 250px;
    height: 300px;
    margin: 10px 0;
    background-color: #ddd;
}

.personImg i {
    color: #aaa;
    margin: 80px 60px;
}

.personQuote {
    display: grid;
    box-sizing: border-box;
    grid-template-columns: 32px 1fr 32px;
    grid-template-rows: 32px 1fr 32px;
    background-color: rgba(235, 186, 185, 0.6);
    border-left: 3px solid rgba(8, 65, 92,0.7);
    border-radius: 10px;
    width: 300px;
    margin: 50px 0;
    padding: 5px;
}

.personQuote p {
    font-size: 18px;
    font-weight: 600;
    font-style: italic;
    grid-column: 2;
    grid-row: 2;
}

.personQuote i {
    color: rgba(8, 65, 92,0.9);
}

.personRightQuote {
    grid-column: 3;
    grid-row: 3;
    justify-self: end;
}

@media only screen and (max-width: 600px){
    .person {
        padding: 20px 0 0 0;
    }
    .personQuote {
        margin: 10px 0 20px 0;
    }
    .personText {
        margin-top: 0;
    }
}